.main {
    -fx-background-color: burlywood;
    -fx-font-weight: bold;
}

.text-input {
    -fx-text-fill: -fx-text-inner-color;
    -fx-highlight-fill: derive(-fx-control-inner-background,-20%);
    -fx-highlight-text-fill: -fx-text-inner-color;
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
    -fx-background-color: linear-gradient(#FFC864 10.0%, #FFC858 40.0%, #FFC041 60.0%, #FFB829 100.0%);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 3, 2;
    -fx-cursor: text;
    -fx-font-weight: bold;
    -fx-padding: 0.333333em 0.583em 0.333333em 0.583em; /* 4 7 4 7 */
}
.text-input:focused {
    -fx-highlight-fill: -fx-accent;
    -fx-highlight-text-fill: white;
    -fx-background-color: linear-gradient(#FFC864 10.0%, #FFC858 40.0%, #FFC041 60.0%, #FFB829 100.0%);
    -fx-background-insets: -0.2, 1, -1.4, 3;
    -fx-background-radius: 3, 2, 4, 0;
    -fx-prompt-text-fill: transparent;
}

.toolbar {
    -fx-background-color: linear-gradient(#686868 0.0%, #232723 25.0%, #373837 75.0%, #757575 100.0%),
    linear-gradient(#020b02, #3a3a3a),
    linear-gradient(#96321E 10.0%, #972711 40.0%, #9A2109 60.0%, #981900 100.0%);
}

.table-view {
    -fx-border-width: 0 0 0 0;
    -fx-background-color: transparent;
}

.radio-button .radio {
    -fx-background-color: linear-gradient(#FFC864 10.0%, #FFC858 40.0%, #FFC041 60.0%, #FFB829 100.0%);
}

.table-view:focused {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: linear-gradient(#96321E 10.0%, #972711 40.0%, #9A2109 60.0%, #981900 100.0%);
}

.table-view .column-header-background .label {
    -fx-alignment: center-left;
    -fx-background-color: transparent;
    -fx-text-fill: linear-gradient(#FFC864 10.0%, #FFC858 40.0%, #FFC041 60.0%, #FFB829 100.0%);
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell {
    -fx-text-fill: black;
}

.table-row-cell {
    -fx-background-color: -fx-table-cell-border-color, linear-gradient(#FFC864 10.0%, #FFC858 40.0%, #FFC041 60.0%, #FFB829 100.0%);
    -fx-background-insets: 0, 0 0 0 0;
    -fx-padding: 0.0em; /* 0 */
    -fx-border-color: black;
    -fx-table-cell-border-color:black;
}

.table-row-cell:odd {
    -fx-background-color: -fx-table-cell-border-color, linear-gradient(#FFC864 10.0%, #FFC858 40.0%, #FFC041 60.0%, #FFB829 100.0%);
    -fx-background-insets: 0, 0 0 0 0;
    -fx-padding: 0.0em; /* 0 */
    -fx-border-color: black;
}



.mainChessboard {
    -fx-border-width: 0 2 0 0;
    -fx-border-color: black;
}

.lightSquare{
  -fx-background-color:
        linear-gradient(#686868 0.0%, #232723 25.0%, #373837 75.0%, #757575 100.0%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#FFC864 10.0%, #FFC858 40.0%, #FFC041 60.0%, #FFB829 100.0%);
    -fx-effect: dropshadow( three-pass-box , rgba(255.0,255.0,255.0,0.2) , 1.0, 0.0 , 0.0 , 1.0);
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
}

.lightSquare:selected{
    -fx-background-color:
    linear-gradient(#686868 0.0%, #232723 25.0%, #373837 75.0%, #757575 100.0%),
    linear-gradient(#020b02, #3a3a3a),
    linear-gradient(#70F393 10.0%, #53EC7C 40.0%, #2CE85E 60.0%, #04E540 100.0%);
    -fx-effect: dropshadow( three-pass-box , rgba(255.0,255.0,255.0,0.2) , 1.0, 0.0 , 0.0 , 1.0);
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
}

.darkSquare{
    -fx-background-color:
    linear-gradient(#686868 0.0%, #232723 25.0%, #373837 75.0%, #757575 100.0%),
    linear-gradient(#020b02, #3a3a3a),
    linear-gradient(#96321E 10.0%, #972711 40.0%, #9A2109 60.0%, #981900 100.0%);
    -fx-effect: dropshadow( three-pass-box , rgba(255.0,255.0,255.0,0.2) , 1.0, 0.0 , 0.0 , 1.0);
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
}

.darkSquare:selected{
    -fx-background-color:
    linear-gradient(#686868 0.0%, #232723 25.0%, #373837 75.0%, #757575 100.0%),
    linear-gradient(#020b02, #3a3a3a),
    linear-gradient(#70F393 10.0%, #53EC7C 40.0%, #2CE85E 60.0%, #04E540 100.0%);
    -fx-effect: dropshadow( three-pass-box , rgba(255.0,255.0,255.0,0.2) , 1.0, 0.0 , 0.0 , 1.0);
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
}